<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="PUBLIC_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
  <springProperty scope="context" name="SLACK_WEBHOOK" source="slack.webhook.url" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PUBLIC_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/feedprep.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/feedprep-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory> <totalSizeCap>100MB</totalSizeCap> </rollingPolicy>
    <encoder>
      <pattern>${PUBLIC_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="SLACK_WARN" class="com.github.maricn.logback.SlackAppender">
    <webhookUri>${SLACK_WEBHOOK}</webhookUri>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PUBLIC_PATTERN}</pattern>
    </layout>
    <username>Logback-FeedPrep</username> <iconEmoji>:robot_face:</iconEmoji>
    <color>warning</color>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="SLACK_ERROR" class="com.github.maricn.logback.SlackAppender">
    <webhookUri>${SLACK_WEBHOOK}</webhookUri>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${PUBLIC_PATTERN}</pattern>
    </layout>
    <username>Logback-FeedPrep</username> <iconEmoji>:robot_face:</iconEmoji>
    <color>danger</color>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <logger name="com.example.FeedPrep" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
    <appender-ref ref="SLACK_WARN"/>
    <appender-ref ref="SLACK_ERROR"/>
  </logger>

</configuration>